$c-yello: #F7D532;
$c-white: #FFF;
$c-dark: #160D2A;
$c-cta: #492991;
$c-light-grey: #ECF0F2;
$c-green: #86D095;

.bg-yello {
  background: $c-yello;
}

.c-yello {
  background: $c-yello;
}

.bg-white {
  background: $c-white;
}

.c-white {
  background: $c-white;
}

.bg-dark {
  background: $c-dark;
}

.c-dark {
  background: $c-dark;
}

.bg-purple {
  background: purple;
  color: #eee;
}

.bg-none {
  border: 1px solid #eee;
}
