.container {
  width: 100vw;
  margin: auto;
  @include media-breakpoint-up(sm) {
    width: 80vw;
    max-width: 850px;
  }
}

.pad-h {
  padding-left: 2rem;
  padding-right: 2rem;
}

.pad-v {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.bo-top {
  border-top: $c-dark 2px dashed;
}
