.p-a {
  position: absolute;
}

.p-r {
  position: relative;
}

.p-s {
  position: static;
}

.p-f {
  position: fixed;
}

.r0 {
  right: 0;
}

.l0 {
  left: 0;
}

.t0 {
  top: 0;
}

.b0 {
  bottom: 0;
}

.r20 {
  right: 20px;
}

.l20 {
  left: 20px;
}

.t20 {
  top: 20px;
}

.b20 {
  bottom: 20px;
}

.t90 {
  top: 90px;
}
