* {
  box-sizing: border-box;
}

body {
  background: $c-yello;
  font-family: 'Karla', sans-serif;
  margin: 0;
  line-height: 1.6;
  -webkit-font-smoothing: Antialiased;
}

.d-b {
  display: block;
  height: auto;
}

.d-n {
  display: none;
}

.clear {
  clear: both;
}

.content {
  margin-bottom: 30px;
  width: 80%;
  font-size: 16px;
}
