input {
  font-family: 'Karla', sans-serif;
  text-align: inherit;
  text-decoration: none;
}

input[type=submit] {
  background: 0;
  border: 0;
  font-size: inherit;
  color: inherit;
  text-transform: uppercase;
}

.btn {

}

.btn-cta  {
  background: $c-cta;
  color: $c-white;
  font-size: 20px;
  display: block;
  width: 60vw;
  height: 80px;
  position: relative;
  transition: transform .2s;
  text-transform: uppercase;

  &:link, &:visited {
    color: $c-white;
    text-decoration: none;
  }
  &:hover {
    transform: translateX(20px);
    transition: transform .2s;
  }
  &:after {
    content: ' ';
    display: inline-block;
    background-image: url('../../img/arrow.svg');
    width: 50px;
    height: 80px;
    position: absolute;
    right: 0;
  }
  span {
    display: inline-block;
    text-align: left;
    clear: both;
    position: absolute;
    left: 25px;
    top: 25px;
  }
}
