.result {
  height: 170px;
  padding: 20px;
  display: inline-block;
}

.label {
  font-size: 12px;
  display: block;
}

.result-color {
  height: 40px;
  width: 90%;
  span {
    padding-top: 8px;
  }
}
