@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:300,400');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,400');

* {
  box-sizing: border-box;
}

html {
  background: #fff;
}

body {
  font-family: 'IBM Plex Mono', sans-serif;
  margin: 0;
  line-height: 1.6;
  background: #fff;
}

button {
  font-family: 'IBM Plex Mono', sans-serif;
  border: 0;
}
