:root {
  --color-yellow: #F7D532;
  --color-light-yellow: #FAFF90;
  --color-light-red: #FFBDBD;
  --color-white: #FFF;
  --color-dark: #160D2A;
  --color-cta: #492991;
  --color-light-grey: #ECF0F2;
  --color-green: #86D095;
  --color-blue: #4C6EFF;

  --r-yellow: #F2F001;
  --r-yellow-to-green: linear-gradient(to right, yellow, green);
  --r-yellow-green: #C4D21B;
  --r-no-reaction: #fff;
  --r-dark-green: #122308;
  --r-green: #6EAE4C;
  --r-reddish-brown: #60001E;
  --r-reddish-orange: #E75F08;
  --r-faint-purple: #CDC6FA;
  --r-pale-blue: #9CC0E6;
  --r-red-yellow-brown: linear-gradient(to right, red, brown);
  --r-orange: #E95F07;
  --r-greenish-brown: #60660C;
  --r-light-orange-brown: #EBC445;
  --r-bright-yellow: #FFFF02;
  --r-brown: #823E0A;
  --r-yellowish-orange: #FFCC3B;
  --r-violet-reddish: #980234;
  --r-black: #000000;
  --r-purple-red-green: linear-gradient(to right, purple, green);
  --r-dark-brown: #4C1F09;
  --r-dark-reddish-brown: #751505;
  --r-light-brown: #BC5A00;
  --r-light-yellow: #FFFF67;
  --r-faint-orange: #F6C38E;
  --r-red-orange: #D22D01;
  --r-olive-black: #223515;
  --r-red: #951817;
  --r-greenish-black: #131704;
  --r-green-to-black: linear-gradient(to right, #6DA244, #000000);
  --r-very-dark-brown: #251204;
  --r-violet-to-black: linear-gradient(to right, #6F309F, #000000);
  --r-green-to-dark-violet: linear-gradient(to right, #427430, #541C51);
  --r-purple-blue-to-black: linear-gradient(to right, #6D2E9F, #000000);
  --r-brown-to-purple-black: linear-gradient(to right, #452004, #1A1210);
  --r-green-dark-blue: linear-gradient(to right, #0F6C0F, #020861);
  --r-intense-brown-to-black: linear-gradient(to right, #451F02, #000000);
  --r-black-greenish-brown: #181D02;
  --r-green-brown: linear-gradient(to right, #8ECE6D, #863E0C);
  --r-red-orange-to-brown: linear-gradient(to right, #F23902, #893C07);
  --r-red-or-orange: #D22D01;
  --r-green-blue: linear-gradient(to right, #60943F, #5D9CD3);
  --r-pink-slow: #FECCFF;
  --r-orange-brown: #D06900;
  --r-yellow-to-green: linear-gradient(to right, #F3EC00, #98AE0D);
  --r-yellow-to-green-to-red: linear-gradient(to right, #879519, #9A6417, #BE0602);
  --r-yellow-orange-to-brown: linear-gradient(to right, #E94403, #863808);
  --r-darkening-orange: #CD6602;
  --r-brownish-red: #C13910;
  --r-brownish-purple: #60001E;
  --r-moderate-olive: #6F740F;
  --r-purple-brown-or-orange: #993400;
  --r-pale-green-to-red-brown: linear-gradient(to right, #84BC66, #863F0C);
  --r-rust: #BC5A00;
  --r-olive-green: #538235;
  --r-deep-orange: #F06601;
  --r-very-light-yellow: #FFFEAB;
  --r-brown-to-purple-black: #472102;
  --r-pale-yellow: #FFFEAB;
}
